@{
   Layout = "_DashBoard";
}

@using CleverStoreManager.Models
@using CleverStoreManager.Controllers
@model IEnumerable<CleverStoreManager.Models.CleverStoreManagerPurchase>

<div class="content-wrapper">
   <section class="content-header">
      <div class="container-fluid">
         <div class="row mb-2">
            <div class="col-sm-6">
               <h1>Purchases Table</h1>
            </div>
            <div class="col-sm-6">
               <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a asp-area="" asp-action="Index" asp-controller="DashBoard">DashBoard Home</a></li>
                  <li class="breadcrumb-item active">Purchases Table</li>
               </ol>
            </div>
         </div>
      </div>
   </section>
   <section class="content">
      <div class="container-fluid">
         <div class="row">
            <div class="col-12">
               <div class="card">
                  <div class="card-header">
                     <h2 class="card-title">Purchases DataTable</h1>
                  </div>
                  <div class="card-body">
                     <div class="row">
                        <div class="col-sm-2">
                           <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#exampleModalLong">Add Purchase</button>
                        </div>
                        <div class="col-md-10">
                           <div class="alert alert-info alert-dismissable">
                              <button type="button" class="close" data-dismiss="alert"
                                 aria-hidden="true">&times;</button><strong><i class="fas fa-info-circle"></i> Hello
                                 Agent!</strong> Click on the Purchase name for more details about that particular Purchase!
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-4">
                           <ul class="chart-legend clearfix">
                              <li><i class="far fa-circle bg-danger"></i> Delivered</li>
                              <li><i class="far fa-circle bg-success"></i> Shipped</li>
                              <li><i class="far fa-circle bg-warning text-white"></i> Pending</li>
                              <li><i class="far fa-circle bg-info"></i> Processing</li>
                           </ul>
                        </div>
                     </div>
                     <table id="example1" class="table table-bordered table-striped">
                        <thead>
                           <tr>
                              <th>PurchaseId</th>
                              <th>DateOrdered</th>
                              <th>DateToDeliver</th>
                              <th>Product</th>
                              <th>Quantity</th>
                              <th>Status</th>
                              <th>Cost Of A Single Product</th>
                              <th>Cost Of Product In Bulk</th>
                              <th>Sellers</th>
                           </tr>
                        </thead>
                        <tbody>
                           @foreach (CleverStoreManagerPurchase purchase in Model)
                           {
                              <tr>
                                 <td>@purchase.PurchaseId</td>
                                 <td>@purchase.DateOrdered</td>
                                 <td>@purchase.DateToDeliver</td>
                                 <td>@purchase.CleverStoreManagerProduct.Name</td>
                                 <td>@purchase.Quantity@purchase.QuantityBulk</td>
                                 @{
                                    if(purchase.PurchaseStatus == "Pending")
                                    {
                                       <td><span class="badge badge-warning">@purchase.PurchaseStatus</span></td>
                                    }
                                    else if(purchase.PurchaseStatus == "Delivered")
                                    {
                                       <td><span class="badge badge-danger">@purchase.PurchaseStatus</span></td>
                                    }
                                    else if(purchase.PurchaseStatus == "Shipped")
                                    {
                                       <td><span class="badge badge-success">@purchase.PurchaseStatus</span></td>
                                    }
                                    else if(purchase.PurchaseStatus == "Processing")
                                    {
                                       <td><span class="badge badge-info">@purchase.PurchaseStatus</span></td>
                                    }
                                 }
                                 <td><span>&#8358;</span>@purchase.SingleAmount</td>
                                 <td><span>&#8358;</span>@purchase.BulkAmount</td>
                                 <td>@purchase.CleverStoreManagerSeller.BusinessName</td>
                              </tr>
                           }
                        </tbody>
                        <tfoot>
                              <tr>
                                 <th>PurchaseId</th>
                                 <th>DateOrdered</th>
                                 <th>DateToDeliver</th>
                                 <th>Product</th>
                                 <th>Quantity</th>
                                 <th>Status</th>
                                 <th>Cost Of A Single Product</th>
                                 <th>Cost Of Product In Bulk</th>
                                 <th>Sellers</th>
                              </tr>
                           </tfoot>
                     </table>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
</div>

<!-- Model Call -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLongTitle">Add Purchase</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        @using (Html.BeginForm("Create", "Purchases", FormMethod.Post))
        {
           <div class="form-group">
               <label for="ProductName" id="ProductName" name="ProductName" class="control-label">Product Name</label>
                  <div class="col-sm-12">
                     <input id="ProductName" name="ProductName" type="text" class="form-control" aria-describedby="ProductNameHelp" />
                     <small id="ProductNameHelp" class="form-text text-muted"><i class="fas fa-info-circle text-warning">product name to purchase</small>
                  </div>
            </div>
            <div class="form-group">
               <label for="ProductLabel" id="ProductLabel" name="ProductLabel" class="control-label">Product Label</label>
                  <div class="col-sm-12">
                     <input id="ProductLabel" name="ProductLabel" type="text" class="form-control" aria-describedby="ProductLabelHelp" />
                     <small id="ProductLabelHelp" class="form-text text-muted"><i class="fas fa-info-circle text-warning">product label to purchase</small>
                  </div>
            </div>
            <div class="form-group">
               <label for="ProductDescription" id="ProductDescription" name="ProductDescription" class="control-label">Product Description</label>
                  <div class="col-sm-12">
                     <input id="ProductDescription" name="ProductDescription" type="text" class="form-control" aria-describedby="ProductDescriptionHelp" />
                     <small id="ProductDescriptionHelp" class="form-text text-muted"><i class="fas fa-info-circle text-warning">product description to purchase</small>
                  </div>
            </div>
            <div class="form-group">
               <label for="Quantity" id="Quantity" name="Weight" class="control-label">Quantity</label>
                  <div class="col-sm-12">
                     <input id="Quantity" name="Quantity" type="number" class="form-control" aria-describedby="QuantityHelp" />
                      <small id="ProductDescriptionHelp" class="form-text text-muted"><i class="fas fa-info-circle text-warning">product quantity to purchase in digits</small>
                  </div>
            </div>
            <div class="form-group">
               <label for="QuantityBulk" id="QuantityBulk" name="Weight" class="control-label">QuantityBulk</label>
               <div class="col-sm-12">
                  <select name="PurchaseStatus" id="PurchaseStatus" class="form-control">
                     <option value="Select status">Select status</option>
                     <option value="Carton">Carton</option>
                     <option value="Litres">Litres</option>
                     <option value="Bags">Bags</option>
                  </select>
               </div>
               <small id="QuantityBulkHelp" class="form-text text-muted">Quantity Bulk: e.g carton, litres, bags </small>
            </div>
            <div class="form-group">
               <label for="DateToDeliver" id="DateToDeliver" name="DateToDeliver" class="control-label">DateToDeliver</label>
               <div class="col-sm-12">
                  <input id="DateToDeliver" name="DateToDeliver" type="date" class="form-control" />
               </div>
            </div>
            <div class="form-group">
               <label for="PurchaseStatus" id="PurchaseStatus" name="PurchaseStatus" class="control-label">Purchase Status</label>
               <div class="col-sm-12">
                  <select name="PurchaseStatus" id="PurchaseStatus" class="form-control">
                     <option value="Select status">Select status</option>
                     <option value="Shipped">Shipped</option>
                     <option value="Pending">Pending</option>
                     <option value="Delivered">Delivered</option>
                     <option value="Processing">Processing</option>
                  </select>
               </div>
            </div>
            <div class="form-group">
               <label for="SingleAmount" id="SingleAmount" name="Weight" class="control-label">Cost Of Single Product</label>
               <div class="col-sm-12">
                  <input id="SingleAmount" name="SingleAmount" type="number" class="form-control" aria-describedby="SingleAmountHelp" />
                  <small id="SingleAmountHelp" class="form-text text-muted">Cost Of Single Product: the cost of a single product with respect to it's quantity bulk e.g one noodles cost <span>&#8358;</span>100 in a carton!</small>
               </div>
            </div>
            <div class="form-group">
               <label for="BulkAmount" id="BulkAmount" name="Weight" class="control-label">Cost Of Product In Bulk</label>
               <div class="col-sm-12">
                  <input id="BulkAmount" name="BulkAmount" type="number" class="form-control" aria-describedby="BulkAmountHelp" />
                  <small id="BulkAmountHelp" class="form-text text-muted">Cost Of Product In Bulk: the cost of a product in bulk the seller is willing to sell e.g one carton of indomie cost <span>&#8358;</span>3000</small>
               </div>
            </div>
            <div class="form-group">
               <label for="CleverStoreManagerSellerId" id="CleverStoreManagerSellerId" name="CleverStoreManagerSellerId" class="control-label">Seller</label>
               <div class="col-sm-12">
                  @Html.DropDownList("CleverStoreManagerSellerId", (IEnumerable<SelectListItem>)ViewBag.CleverStoreManagerSellerId, new { @class="form-control" })
               </div>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-outline-dark btn-lg" data-dismiss="modal">Close</button>
               <button type="submit" class="btn btn-outline-primary btn-lg">Save</button>
            </div>
         }
      </div>
    </div>
  </div>
</div>

@section Scripts {
   <partial name="_ValidationScriptsPartial" />
}